<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sirnak Üniversitesi </title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="login-container">
        <div class="logo">
            <img src="##" alt="sirnak Üniversitesi ">
        </div>
        <h2>şifre yenileme</h2>
        <form action="bil.html" method="post">

            <div class="input-group">
                <input type="text" placeholder=" Tc No" required>
            </div>
            <div class="input-group">
                <input type="password" placeholder=" Eski Şifre" required>
            </div>

            <div class="input-group">
                <input type="password" placeholder=" Yeni  Şifre" required>
            </div>

            <div class="input-group">
                <input type="password" placeholder="  yeni Şifre Tekrar "  required>
            </div>

            <div class="input-group captcha-group">
                <input type="text" placeholder="Güvenlik Kodu" required>
                <div class="captcha">
                    <img src="" alt="">
                    <button type="button" class="refresh-captcha">&#x21bb;</button>
                </div>
            </div>
            <button type="submit"> şifre degstir</button>
        </form>
    </div>
</body>
</html>
